Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

chore: open .nvmrc file to any Node 16 version
  .nvmrc
Due: none

chore: update renovate/jest config
  renovate.json
Due: none

chore: update renovate/jest config (#191)
  renovate.json
Due: none

Updated snapshot
  jest/__snapshots__/bundles-snapshot.test.js.snap
Due: none

RrMapCache and RrObjectCache
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/cache/README.md
  src/cache/RrMapCache.js
  src/cache/RrObjectCache.js
  src/cache/__tests__/RrMapCache.spec.js
  src/cache/__tests__/RrObjectCache.spec.js
  src/cache/__util__/testBasicBehavior.js
  src/cache/__util__/testRrBehavior.js
  src/index.d.ts
  src/index.js
Due: prettier --write, npm t -- .

RrObjectCache removed
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/cache/README.md
  src/cache/RrMapCache.js
  src/cache/RrObjectCache.js
  src/cache/__tests__/RrObjectCache.spec.js
  src/index.d.ts
  src/index.js
Due: prettier --write, npm t -- .

src/cache/README.md: several vs 7 wording
  src/cache/README.md
Due: prettier --write

RrMapCache 0 index bug fix
  src/cache/RrMapCache.js
Due: prettier --write, npm t -- .

upgrade reselect and fix tests
  jest/__snapshots__/bundles-snapshot.test.js.snap
  package-lock.json
  package.json
  src/__tests__/createCachedSelector.test.js
  src/typescript_tests/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

chore: update tests dependencies
  jest/__snapshots__/bundles-snapshot.test.js.snap
  package-lock.json
  package.json
Due: none

feat: update reselect to v5
  jest.setup.ts
  package-lock.json
  package.json
  src/__tests__/createCachedSelector.test.js
  src/typescript_tests/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

chore: update bundling dependencies
  jest/__snapshots__/bundles-snapshot.test.js.snap
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, npm t -- .

test: clean all mocks before each
  jest.setup.ts
  src/__tests__/createCachedSelector.test.js
Due: prettier --write, npm t -- .

test: convert tests to ts (part I)
  package.json
  src/__tests__/createCachedSelector.test.ts
  src/__tests__/createStructuredCachedSelector.test.js
  src/__tests__/createStructuredCachedSelector.test.ts
  src/cache/__tests__/FifoMapCache.test.js
  src/cache/__tests__/FifoObjectCache.test.js
  src/cache/__tests__/FlatMapCache.test.js
  src/cache/__tests__/FlatObjectCache.test.js
  src/cache/__tests__/LruMapCache.test.js
  src/cache/__tests__/LruObjectCache.test.js
  src/typescript_tests/cache.ts
  src/typescript_tests/createCachedSelector.ts
  src/typescript_tests/createStructuredCachedSelector.ts
Due: prettier --write, npm t -- .

test: convert tests to ts (part II)
  src/cache/__tests__/FifoMapCache.test.ts
  src/cache/__tests__/FifoObjectCache.test.ts
  src/cache/__tests__/FlatMapCache.test.ts
  src/cache/__tests__/FlatObjectCache.test.ts
  src/cache/__tests__/LruMapCache.test.ts
  src/cache/__tests__/LruObjectCache.test.ts
  src/cache/__util__/fillCacheWith.js
  src/cache/__util__/fillCacheWith.ts
  src/cache/__util__/testBasicBehavior.ts
  src/cache/__util__/testCacheSizeOptionValidation.ts
  src/cache/__util__/testFifoBehavior.ts
  src/cache/__util__/testLruBehavior.ts
  src/cache/__util__/testMapCacheKeyBehavior.ts
  src/cache/__util__/testObjectCacheKeyBehavior.ts
Due: prettier --write, npm t -- .

docs: minor readme update
  README.md
Due: prettier --write

chore: do not include src folder in published package
  jest/__snapshots__/bundles-snapshot.test.js.snap
  jest/bundles-snapshot.test.js
  jest/cjs.config.js
  jest/es.config.js
  jest/umd.config.js
  package-lock.json
  package/LICENSE.md
  package/README.md
  package/package.json
  rollup.config.js
Due: prettier --write, npm t -- .

chore: support reselect v5 (#214)
  jest.setup.ts
  jest/__snapshots__/bundles-snapshot.test.js.snap
  jest/bundles-snapshot.test.js
  jest/cjs.config.js
  jest/es.config.js
  jest/umd.config.js
  package-lock.json
  package/LICENSE.md
  package/README.md
  package/package.json
  rollup.config.js
  src/__tests__/createCachedSelector.test.ts
  src/__tests__/createStructuredCachedSelector.test.js
  src/__tests__/createStructuredCachedSelector.test.ts
  src/cache/__tests__/FifoMapCache.test.ts
  src/cache/__tests__/FifoObjectCache.test.ts
  src/cache/__tests__/FlatMapCache.test.ts
  src/cache/__tests__/FlatObjectCache.test.ts
  src/cache/__tests__/LruMapCache.test.ts
  src/cache/__tests__/LruObjectCache.test.ts
  src/cache/__util__/fillCacheWith.js
  src/cache/__util__/fillCacheWith.ts
  src/cache/__util__/testBasicBehavior.ts
  src/cache/__util__/testCacheSizeOptionValidation.ts
  src/cache/__util__/testFifoBehavior.ts
  src/cache/__util__/testLruBehavior.ts
  src/cache/__util__/testMapCacheKeyBehavior.ts
  src/cache/__util__/testObjectCacheKeyBehavior.ts
  src/typescript_tests/cache.ts
  src/typescript_tests/createCachedSelector.ts
  src/typescript_tests/createStructuredCachedSelector.ts
Due: prettier --write, npm t -- .

refactor: remove default export
  src/__tests__/createCachedSelector.test.ts
  src/index.d.ts
  src/index.js
  src/typescript_tests/createCachedSelector.ts
Due: prettier --write, npm t -- .

refactor: remove double arguments invocation error
  src/__tests__/createCachedSelector.test.ts
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

test: update bundle snapshot
  jest/__snapshots__/bundles-snapshot.test.js.snap
Due: none

refactor: remove legacy APIs (#215)
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/__tests__/createCachedSelector.test.ts
  src/createCachedSelector.js
  src/index.d.ts
  src/index.js
  src/typescript_tests/createCachedSelector.ts
Due: prettier --write, npm t -- .

docs: add reselect v5 note
  README.md
Due: prettier --write

docs: add reselect v5 note (#216)
  README.md
Due: prettier --write

chore: switch dev env to node v20
  .github/workflows/ci.yml
  .nvmrc
Due: none

chore: switch dev env to node v20 (#217)
  .github/workflows/ci.yml
  .nvmrc
Due: none

refactor: minor improvements
  README.md
  jest/__snapshots__/bundles-snapshot.test.ts.snap
  jest/bundles-snapshot.test.ts
  package.json
  src/__tests__/createCachedSelector.test.ts
  src/index.d.ts
Due: prettier --write, npm t -- .

test: review namings
  src/__tests__/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

refactor: minor improvements (#218)
  README.md
  jest/__snapshots__/bundles-snapshot.test.ts.snap
  jest/bundles-snapshot.test.ts
  package.json
  src/__tests__/createCachedSelector.test.ts
  src/index.d.ts
Due: prettier --write, npm t -- .

docs: update changelog
  CHANGELOG.md
Due: prettier --write

chore: add veksa to contributors
  .all-contributorsrc
  README.md
Due: prettier --write

chore: support reselect v5 (#214)
  README.md
  jest.setup.ts
  jest/__snapshots__/bundles-snapshot.test.js.snap
  jest/bundles-snapshot.test.js
  jest/cjs.config.js
  jest/es.config.js
  jest/umd.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/__tests__/createCachedSelector.test.ts
  src/__tests__/createStructuredCachedSelector.test.js
  src/__tests__/createStructuredCachedSelector.test.ts
  src/cache/__tests__/FifoMapCache.test.ts
  src/cache/__tests__/FifoObjectCache.test.ts
  src/cache/__tests__/FlatMapCache.test.ts
  src/cache/__tests__/FlatObjectCache.test.ts
  src/cache/__tests__/LruMapCache.test.ts
  src/cache/__tests__/LruObjectCache.test.ts
  src/cache/__util__/fillCacheWith.js
  src/cache/__util__/fillCacheWith.ts
  src/cache/__util__/testBasicBehavior.ts
  src/cache/__util__/testCacheSizeOptionValidation.ts
  src/cache/__util__/testFifoBehavior.ts
  src/cache/__util__/testLruBehavior.ts
  src/cache/__util__/testMapCacheKeyBehavior.ts
  src/cache/__util__/testObjectCacheKeyBehavior.ts
  src/typescript_tests/cache.ts
  src/typescript_tests/createCachedSelector.ts
  src/typescript_tests/createStructuredCachedSelector.ts
Due: prettier --write, npm t -- .

docs: update changelog (#219)
  .all-contributorsrc
  CHANGELOG.md
  README.md
Due: prettier --write

5.0.0
  package-lock.json
  package.json
Due: none

feat: add type support for createCachedSelector reselect options
  src/index.d.ts
  src/typescript_tests/createCachedSelector.ts
Due: prettier --write, npm t -- .

feat: createCachedSelector accepts createSelectorOptions object
  jest/__snapshots__/bundles-snapshot.test.ts.snap
  src/__tests__/createCachedSelector.test.ts
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

Path conditions:
  prettier --write: (any of: **/*.{js,ts}) or (any of: **/*.md)
  npm t -- .: any of: **/*.{js,ts}
