Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

.lintstagedrc:

{
  "**/*.{js,ts}": ["prettier --write", "npm t -- .", "git add"],
  "**/*.md": ["prettier --write", "git add"],
}

Update Travis Node environment
  .travis.yml
Due: none

Upgrade to Babel 7
  .babelrc
  package-lock.json
  package.json
Due: none

Fix tests transpilation after upgrade to Babel 7
  .babelrc
  package-lock.json
  package.json
  typescript_test/tsconfig.json
Due: none

Remove cross-env dependency since not necessary anymore
  package-lock.json
  package.json
Due: none

Update contributors
  .all-contributorsrc
  README.md
Due: prettier --write

Use loose mode
  .babelrc
  .babelrc.js
  .gitignore
Due: prettier --write, npm t -- .

Update dev dependencies
  .gitignore
  .lintstagedrc
  package-lock.json
  package.json
Due: none

Fix cacheObject isValidCacheKey TS definition
  src/index.d.ts
  typescript_test/cache.ts
Due: prettier --write, npm t -- .

Update changelog and contributors
  .all-contributorsrc
  CHANGELOG.md
  README.md
Due: prettier --write

2.2.0
  package-lock.json
  package.json
Due: none

Remove .npmignore file and use package.json file field
  .npmignore
  package.json
Due: none

supported recomputations and dependencies
  src/__tests__/index.spec.js
  src/index.d.ts
  src/index.js
  typescript_test/test.ts
Due: prettier --write, npm t -- .

dependencies added in typing, supported heterogeneous selectors and any number of uniform selectors
  package-lock.json
  package.json
  src/index.d.ts
  typescript_test/test.ts
Due: prettier --write, npm t -- .

reselect updated
  package-lock.json
  package.json
Due: none

Revert "dependencies added in typing, supported heterogeneous selectors and any number of uniform selectors"
  package-lock.json
  package.json
  src/index.d.ts
  typescript_test/test.ts
Due: prettier --write, npm t -- .

Revert "Revert "dependencies added in typing, supported heterogeneous selectors and any number of uniform selectors""
  package-lock.json
  package.json
  src/index.d.ts
  typescript_test/test.ts
Due: prettier --write, npm t -- .

Add TS tests for .dependencies and .resultFunc
  README.md
  typescript_test/test.ts
Due: prettier --write, npm t -- .

Reorganize tests
  src/__tests__/index.spec.js
Due: prettier --write, npm t -- .

Update docs
  .all-contributorsrc
  CHANGELOG.md
  README.md
  src/index.js
Due: prettier --write, npm t -- .

2.3.0
  package-lock.json
  package.json
Due: none

Add type generator
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
  .travis.yml
  package-lock.json
  package.json
  src/index.d.ts
  src/index.gen.ts
  tsconfig.json
  typescript_test/cache.ts
  typescript_test/test.ts
  typescript_test/tsconfig.json
Due: prettier --write, npm t -- .

Add type generation before run tests
  package.json
Due: none
