Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

.lintstagedrc:

{
  "**/*.{js,ts}": ["prettier --write", "npm t -- .", "git add"],
  "**/*.md": ["prettier --write", "git add"],
}

test: add TODO marker on 10-selector use-cases block for v5 inference
  test/createCachedSelector.use-cases.test.ts
Due: prettier --write, npm t -- .

chore: update vitest to v4
  package-lock.json
  package.json
Due: none

test: test updates round 1
  .changeset/strict-selector-typings.md
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

test: test updates round 2
  test/createCachedSelector.use-cases.test.ts
Due: prettier --write, npm t -- .

feat: add createCachedSelector.withTypes method
  .changeset/cached-selector-with-types.md
  src/createCachedSelector.ts
  src/types.ts
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

fix: tsdown config
  tsdown.config.ts
Due: prettier --write, npm t -- .

refactor: cache classes
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  test/cache/FifoMapCache.test.ts
  test/cache/FifoObjectCache.test.ts
  test/cache/LruMapCache.test.ts
  test/cache/LruObjectCache.test.ts
Due: prettier --write, npm t -- .

test: temporarily disable createStructuredCachedSelector tests
  test/createStructuredCachedSelector.disabled
Due: none

refactor: tighten createCachedSelector typing
  src/createCachedSelector.ts
  src/index.ts
  src/types.ts
Due: prettier --write, npm t -- .

chore(deps): update dev dependencies and bump tsdown for TypeScript 7 support
  package-lock.json
  package.json
Due: none

style: reformat with prettier 3.9
  src/cache/README.md
  src/cache/util/validateCacheSize.ts
  src/createCachedSelector.ts
Due: prettier --write, npm t -- .

test(bundles): update UMD snapshot for tsdown output
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
Due: none

fix: infer parametric props in createStructuredCachedSelector
  src/createStructuredCachedSelector.ts
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

test: fix @ts-expect-error placement for TypeScript 7
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

test: cover optional structured selector second argument
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

test: fix coverage glob to include nested src files
  vitest.config.mts
Due: none

chore: remove obsolete babel config and dependabot groups
  .babelrc.js
  .github/dependabot.yml
Due: prettier --write, npm t -- .

docs: document withTypes and fix cache links after TypeScript migration
  README.md
  src/cache/README.md
Due: prettier --write

chore(deps): sync package-lock.json with package.json
  package-lock.json
Due: none

fix: type error when createStructuredCachedSelector selector has optional argument
  .changeset/fix-structured-optional-argument.md
  src/index.d.ts
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

chore: update changeset description
  .changeset/fix-structured-optional-argument.md
Due: prettier --write
