Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm t

Improve tests readability
  src/__tests__/index.spec.js
  src/cache/__tests__/FifoCacheObject.spec.js
  src/cache/__tests__/FlatCacheObject.spec.js
  src/cache/__tests__/LruCacheObject.spec.js
Due: npm run prettier, npm t

Prettify .md and .ts files
  .lintstagedrc
  CHANGELOG.md
  README.md
  examples/1-join-selectors.md
  examples/2-avoid-selector-factories.md
  examples/3-cache-api-calls.md
  package-lock.json
  package.json
  src/__tests__/index.spec.js
  src/index.d.ts
  typescript_test/cache.ts
  typescript_test/test.ts
Due: npm run prettier, npm t

Update Rollup.js
  package-lock.json
  package.json
  rollup.config.js
Due: npm run prettier, npm t

Add LruMapCacheObject
  src/cache/LruMapCacheObject.js
  src/cache/__tests__/LruMapCacheObject.spec.js
  src/index.d.ts
  typescript_test/cache.ts
Due: npm run prettier, npm t

Export deprecated cache objects
  src/cache/__tests__/deprecated/FifoCacheObject.js
  src/cache/__tests__/deprecated/FlatCacheObject.js
  src/cache/__tests__/deprecated/LruCacheObject.js
  src/index.js
Due: npm run prettier, npm t

define isValidCacheKey in ICacheObject
  src/index.d.ts
Due: npm run prettier, npm t

Configure Prettier via config file
  .gitignore
  .prettierrc
  README.md
  examples/2-avoid-selector-factories.md
  package.json
Due: npm run prettier

Add a sideEffects: false flag for Webpack 4
  CHANGELOG.md
  package.json
Due: npm run prettier

Update package.json description
  package.json
Due: none

Update docs
  README.md
Due: npm run prettier

Simplify initial example in docs
  README.md
Due: npm run prettier

2.0.0
  package-lock.json
  package.json
Due: none

Add cache property
  CHANGELOG.md
  README.md
  src/__tests__/index.spec.js
  src/index.js
Due: npm run prettier, npm t

Update TS typings
  src/index.d.ts
  typescript_test/test.ts
Due: npm run prettier, npm t

Update devDependencies
  package-lock.json
  package.json
Due: none

2.1.0
  package-lock.json
  package.json
Due: none

Remove tests from published files
  .npmignore
Due: none

Setup tests for compiled bundles
  .lintstagedrc
  .travis.yml
  jest/dist.config.js
  jest/es.config.js
  jest/lib.config.js
  package.json
  src/__tests__/index.spec.js
  src/cache/__tests__/FifoMapCache.spec.js
  src/cache/__tests__/FifoObjectCache.spec.js
  src/cache/__tests__/FlatMapCache.spec.js
  src/cache/__tests__/FlatObjectCache.spec.js
  src/cache/__tests__/LruMapCache.spec.js
  src/cache/__tests__/LruObjectCache.spec.js
  src/cache/__tests__/deprecated/FifoCacheObject.js
  src/cache/__tests__/deprecated/FlatCacheObject.js
  src/cache/__tests__/deprecated/LruCacheObject.js
Due: npm run prettier, npm t

Simplify prettier configuration
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .lintstagedrc
  package.json
Due: npm run prettier

Add missing .prettierignore file
  .gitignore
  .prettierignore
Due: none

Add .npmrc file
  .gitignore
  .npmrc
Due: none

Fix broken link in readme
  README.md
Due: npm run prettier

Update contributors
  .all-contributorsrc
  README.md
Due: npm run prettier

Fixing the docs to point at the new url on the reselect repo
  examples/2-avoid-selector-factories.md
Due: npm run prettier

Added the word 'the' because I read it out load a few times and it made sense to add.
  examples/2-avoid-selector-factories.md
Due: npm run prettier

Upgrade to Babel 7
  .babelrc
  package-lock.json
  package.json
Due: none

Fix tests transpilation after upgrade to Babel 7
  .babelrc
  package-lock.json
  package.json
  typescript_test/tsconfig.json
Due: none

Use loose mode
  .babelrc
  .babelrc.js
  .gitignore
Due: npm run prettier, npm t

Path conditions:
  npm run prettier: (any of: **/*.{js,ts}) or (any of: **/*.md)
  npm t: any of: **/*.{js,ts}
