Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

.lintstagedrc:

{
  "**/*.{js,ts}": ["prettier --write", "npm t -- .", "git add"],
  "**/*.md": ["prettier --write", "git add"],
}

Disable CI for Node v6
  .travis.yml
Due: none

Update dev dependencies
  package-lock.json
  package.json
Due: none

Disable travis email notifications
  .travis.yml
Due: none

3.2.0
  package-lock.json
  package.json
Due: none

Write tests for combineKeySelectors
  src/__tests__/combineKeySelectors.spec.js
  src/combineKeySelectors.js
  src/index.js
Due: prettier --write, npm t -- .

Add combineKeySelectors first draft
  src/__tests__/combineKeySelectors.spec.js
  src/combineKeySelectors.js
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

Add keySelectorCreator option
  src/__tests__/combineKeySelectors.spec.js
  src/combineKeySelectors.js
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

Add extraKeySelector to combineKeySelectors
  src/__tests__/combineKeySelectors.spec.js
  src/combineKeySelectors.js
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

Select combiners' valid selectors with typeof
  src/combineKeySelectors.js
Due: prettier --write, npm t -- .

Refactor combineKeySelectors into KeySelectorCombiner class
  src/combineKeySelectors.js
  src/createCachedSelector.js
  src/index.js
  src/keySelectorCreators/KeySelectorCombiner.js
  src/keySelectorCreators/__tests__/KeySelectorCombiner.spec.js
Due: prettier --write, npm t -- .

keySelectorCreator typing attempt
  src/index.d.ts
  typescript_test/keySelectorCreators.ts
Due: prettier --write, npm t -- .

Fix broken link to cache docs
  README.md
Due: prettier --write

Move docs faq's into dropdowns
  README.md
Due: prettier --write

Review docs
  README.md
Due: prettier --write

Add keySelectorCreator option
  README.md
  src/__tests__/createCachedSelector.spec.js
  src/createCachedSelector.js
  src/index.d.ts
  typescript_test/createCachedSelector.ts
Due: prettier --write, npm t -- .

Reorganize tests
  src/__tests__/createCachedSelector.spec.js
  src/cache/__tests__/deprecated/FifoCacheObject.js
  src/cache/__tests__/deprecated/FlatCacheObject.js
  src/cache/__tests__/deprecated/LruCacheObject.js
  src/cache/__util__/testBasicBehavior.js
  src/cache/__util__/testCacheSizeOptionValidation.js
  src/cache/__util__/testFifoBehavior.js
  src/cache/__util__/testLruBehavior.js
  src/cache/__util__/testMapCacheKeyBehavior.js
  src/cache/__util__/testObjectCacheKeyBehavior.js
Due: prettier --write, npm t -- .

Update docs
  .all-contributorsrc
  CHANGELOG.md
  README.md
Due: prettier --write

3.3.0
  package-lock.json
  package.json
Due: none

Add snapshot bundle test
  jest/__snapshots__/bundles-snapshot.test.js.snap
  jest/bundles-snapshot.test.js
  package.json
Due: prettier --write, npm t -- .

Run CI against last LTS Node only
  .travis.yml
Due: none

Add renovate.json
  renovate.json
Due: none

Update renovate.json
  renovate.json
Due: none

Update dependency husky to v3
  package-lock.json
  package.json
Due: none

Update dependency rollup to ^0.68.0
  package-lock.json
  package.json
Due: none

Update dependency rollup to v1.16.x
  jest/__snapshots__/bundles-snapshot.test.js.snap
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, npm t -- .

Tweak test:bundles:unit command
  package.json
Due: none

Update dependency lint-staged to v9
  package-lock.json
  package.json
Due: none

Introduce single argument signature
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/__tests__/createCachedSelector.spec.js
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

Update TS types with single argument signature
  src/index.d.ts
  typescript_test/cache.ts
  typescript_test/createCachedSelector.ts
Due: prettier --write, npm t -- .

Update docs with object signature
  README.md
  src/cache/README.md
Due: prettier --write
