Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

.lintstagedrc:

{
  "**/*.{js,ts}": ["prettier --write", "npm t -- .", "git add"],
  "**/*.md": ["prettier --write", "git add"],
}

Update Update jest packages to v27
  package-lock.json
  package.json
Due: none

chore: replace travis with github actions
  .github/workflows/cy.yml
  .travis.yml
  package-lock.json
  package.json
Due: none

chore: replace travis with github actions (#169)
  .github/workflows/cy.yml
  .travis.yml
  package-lock.json
  package.json
Due: none

fix: CI config fil etypo
  .github/workflows/ci.yml
Due: none

docs: update CI badge
  README.md
Due: prettier --write

chore: port dev environment to node v16
  .github/workflows/ci.yml
  .gitignore
  .nvmrc
  package-lock.json
Due: none

chore: port dev environment to node v16 (#170)
  .github/workflows/ci.yml
  .gitignore
  .nvmrc
  package-lock.json
Due: none

optimize for React Native
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

Update bundles-snapshot.test.js.snap
  jest/__snapshots__/bundles-snapshot.test.js.snap
Due: none

chore: update npm registry url protocol
  .npmrc
Due: none

Update README.md
  README.md
Due: prettier --write

chore: restrict dev node version to 16.8
  .github/workflows/ci.yml
  .nvmrc
Due: none

chore: restrict dev node version to 16.8 (#179)
  .github/workflows/ci.yml
  .nvmrc
Due: none

chore: test types definitions with plain typescript
  package-lock.json
  package.json
  src/__tests__/createCachedSelector.test.js
  src/__tests__/createStructuredCachedSelector.test.js
  src/typescript_tests/cache.test.ts
  src/typescript_tests/createCachedSelector.test.ts
  src/typescript_tests/createStructuredCachedSelector.test.ts
  tsconfig.json
Due: prettier --write, npm t -- .

chore: test types definitions with plain typescript (#180)
  package-lock.json
  package.json
  src/__tests__/createCachedSelector.test.js
  src/__tests__/createStructuredCachedSelector.test.js
  src/typescript_tests/cache.test.ts
  src/typescript_tests/createCachedSelector.test.ts
  src/typescript_tests/createStructuredCachedSelector.test.ts
  tsconfig.json
Due: prettier --write, npm t -- .

chore(deps): update dependency husky to ^4.3.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to ^10.5.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency all-contributors-cli to ^6.20.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency reselect to ^4.1.5
  package-lock.json
  package.json
Due: none

chore: replace husky with simple-git-hooks
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

chore: replace husky with simple-git-hooks (#181)
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to ^2.70.1
  jest/__snapshots__/bundles-snapshot.test.js.snap
  package-lock.json
  package.json
Due: none

chore(deps): update dependency prettier to ^2.6.1
  package-lock.json
  package.json
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency lint-staged to v12
  package-lock.json
  package.json
Due: none

Omit 'clearCache' from CreateSelectorInstance type
  src/index.d.ts
  src/typescript_tests/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

fix: omit 'clearCache' from CreateSelectorInstance type (#186)
  src/index.d.ts
  src/typescript_tests/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

doc: update changelog
  CHANGELOG.md
Due: prettier --write

docs: update contributors
  .all-contributorsrc
  README.md
Due: prettier --write

docs: update changelog (#187)
  .all-contributorsrc
  CHANGELOG.md
  README.md
Due: prettier --write

chore: fix preversion command
  package.json
Due: none

4.0.1
  package-lock.json
  package.json
Due: none
