Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

Update docs with object signature
  README.md
  src/cache/README.md
Due: prettier --write

Update TS types with single argument signature
  src/index.d.ts
  typescript_test/cache.ts
  typescript_test/createCachedSelector.ts
Due: prettier --write, npm t -- .

Introduce single argument signature
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/__tests__/createCachedSelector.spec.js
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

Revamp docs
  README.md
Due: prettier --write

Add keyselector composition example
  README.md
  examples/4-programmatic-keyselector-composition.md
Due: prettier --write

Update initial example
  README.md
Due: prettier --write

Fix minor docs details
  README.md
Due: prettier --write

Make example 4 simpler
  examples/4-programmatic-keyselector-composition.md
Due: prettier --write

Remove a few more sentences in readme
  README.md
Due: prettier --write

Revamp docs (#92)
  README.md
  examples/4-programmatic-keyselector-composition.md
Due: prettier --write

Update changelog
  CHANGELOG.md
Due: prettier --write

3.4.0
  package-lock.json
  package.json
Due: none

Add test:update script
  package.json
Due: none

Update dependency rimraf to v3
  package-lock.json
  package.json
Due: none

Dedupe package-lock.json file
  package-lock.json
Due: none

Update renovate.json with npmDedupe option
  renovate.json
Due: none

Fix documentation examples
  README.md
Due: prettier --write

fix programmatic keySelector example
  examples/4-programmatic-keyselector-composition.md
Due: prettier --write

Update renovate.json
  renovate.json
Due: none

Update Update babel packages
  package-lock.json
  package.json
Due: none

Update Update jest packages to ^24.9.0
  package-lock.json
  package.json
Due: none

Update dependency all-contributors-cli to ^6.9.3
  package-lock.json
  package.json
Due: none

Update Update babel packages to ^7.7.4
  package-lock.json
  package.json
Due: none

Update dependency coveralls to ^3.0.9
  package-lock.json
  package.json
Due: none

Update dependency husky to ^3.1.0
  package-lock.json
  package.json
Due: none

Update dependency lint-staged to ^9.5.0
  package-lock.json
  package.json
Due: none

chore: link to #cacheobject in FAQ
  README.md
Due: prettier --write

chore: fix typos in 1-join-selectors
  examples/1-join-selectors.md
Due: prettier --write

chore: fix typos in 2-avoid-selector-factories
  examples/2-avoid-selector-factories.md
Due: prettier --write

chore: update relative links in cache README
  src/cache/README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{js,ts}) or (any of: **/*.md)
  npm t -- .: any of: **/*.{js,ts}
