Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

.lintstagedrc:

{
  "**/*.{js,ts}": ["prettier --write", "npm t -- .", "git add"],
  "**/*.md": ["prettier --write", "git add"],
}

Remove deprecated cache exports
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/cache/__tests__/deprecated/FifoCacheObject.js
  src/cache/__tests__/deprecated/FlatCacheObject.js
  src/cache/__tests__/deprecated/LruCacheObject.js
  src/index.js
Due: prettier --write, npm t -- .

Remove support for options as second argument
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/__tests__/createCachedSelector.spec.js
  src/createCachedSelector.js
  src/index.d.ts
  typescript_test/createCachedSelector.ts
Due: prettier --write, npm t -- .

Remove TS support for selectorCreator as second argument
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/__tests__/createCachedSelector.spec.js
  src/createCachedSelector.js
  src/index.d.ts
  typescript_test/createCachedSelector.ts
Due: prettier --write, npm t -- .

Export createCachedSelector as named export
  README.md
  examples/1-join-selectors.md
  examples/2-avoid-selector-factories.md
  examples/3-cache-api-calls.md
  examples/4-programmatic-keyselector-composition.md
  examples/5-selectorator.md
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/__tests__/createCachedSelector.spec.js
  src/cache/README.md
  src/index.d.ts
  src/index.js
  typescript_test/cache.ts
  typescript_test/createCachedSelector.ts
Due: prettier --write, npm t -- .

Docs update
  CHANGELOG.md
Due: prettier --write

Docs update
  .all-contributorsrc
  CHANGELOG.md
  README.md
Due: prettier --write

4.0.0
  package-lock.json
  package.json
Due: none

Fixed cache README link to FifoMapCache.js
  src/cache/README.md
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update dependency husky to v4
  package-lock.json
  package.json
Due: none

Update dependency lint-staged to v10
  package-lock.json
  package.json
Due: none

Update dependency coveralls to ^3.1.0
  package-lock.json
  package.json
Due: none

Update dependency rimraf to ^3.0.2
  package-lock.json
  package.json
Due: none

Update travis badge
  README.md
Due: prettier --write

Update dependency typescript to ^3.9.5
  package-lock.json
  package.json
Due: none

Update Update jest packages to v26
  package-lock.json
  package.json
Due: none

Update dependency all-contributors-cli to ^6.17.0
  package-lock.json
  package.json
Due: none

Update dependency typescript to ^3.9.7
  package-lock.json
  package.json
Due: none

Update dependency prettier to v2
  .prettierrc
  package-lock.json
  package.json
  src/cache/README.md
  src/createCachedSelector.js
Due: prettier --write, npm t -- .

Update dependency rollup to v2
  jest/__snapshots__/bundles-snapshot.test.js.snap
  package-lock.json
  package.json
Due: none

Update Update jest packages
  package-lock.json
  package.json
Due: none

Update Update babel packages
  package-lock.json
  package.json
Due: none

Update dependency all-contributors-cli to ^6.17.4
  package-lock.json
  package.json
Due: none
