Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

.lintstagedrc:

{
  "**/*.{js,ts}": ["prettier --write", "npm t -- .", "git add"],
  "**/*.md": ["prettier --write", "git add"],
}

feat: createCachedSelector accepts createSelectorOptions object (#229)
  jest/__snapshots__/bundles-snapshot.test.ts.snap
  src/__tests__/createCachedSelector.test.ts
  src/createCachedSelector.js
  src/index.d.ts
  src/typescript_tests/createCachedSelector.ts
Due: prettier --write, npm t -- .

5.1.0
  package-lock.json
  package.json
Due: none

test: fix type error
  src/typescript_tests/createCachedSelector.ts
Due: prettier --write, npm t -- .

chore: replace renovate with dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  renovate.json
Due: none

chore: replace renovate with dependabot (#245)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  renovate.json
Due: none

chore: update gh actions
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: update gh actions (#260)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: fix dependabot auto merge
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: fix dependabot auto merge (#267)
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: setup changesets
  .all-contributorsrc
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  src/index.d.ts
Due: prettier --write, npm t -- .

chore: setup changesets (#392)
  .all-contributorsrc
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  src/index.d.ts
Due: prettier --write, npm t -- .

fix: update gitignore
  .changeset/config.json
  .gitattributes
  .gitignore
Due: none

fix: update gitignore (#393)
  .changeset/config.json
  .gitattributes
  .gitignore
Due: none

chore: remove lint-staged
  package-lock.json
  package.json
Due: none

chore: remove all-contributors-cli
  package-lock.json
  package.json
Due: none

test: downgrade vitest to v3
  package-lock.json
  package.json
  vitest.config.mts
Due: none

test: downgrade vitest to v3 (#396)
  package-lock.json
  package.json
  vitest.config.mts
Due: none

chore: remove @babel/core dependency
  package-lock.json
  package.json
Due: none

chore: remove @babel/core dependency (#398)
  package-lock.json
  package.json
Due: none

test: migrate type only tests
  package-lock.json
  package.json
  test/cache/FifoMapCache.test.ts
  test/cache/FifoObjectCache.test.ts
  test/cache/FlatMapCache.test.ts
  test/cache/FlatObjectCache.test.ts
  test/cache/LruMapCache.test.ts
  test/cache/LruObjectCache.test.ts
  test/cache/test-utils/testCacheSizeOptionValidation.ts
  test/createCachedSelector.test.ts
  test/createCachedSelector.use-cases.test.ts
  test/createStructuredCachedSelector.test.ts
  test/typescript_tests/cache.ts
  test/typescript_tests/createCachedSelector.ts
  test/typescript_tests/createStructuredCachedSelector.ts
Due: prettier --write, npm t -- .

test: migrate type only tests (#399)
  package-lock.json
  package.json
  test/cache/FifoMapCache.test.ts
  test/cache/FifoObjectCache.test.ts
  test/cache/FlatMapCache.test.ts
  test/cache/FlatObjectCache.test.ts
  test/cache/LruMapCache.test.ts
  test/cache/LruObjectCache.test.ts
  test/cache/test-utils/testCacheSizeOptionValidation.ts
  test/createCachedSelector.test.ts
  test/createCachedSelector.use-cases.test.ts
  test/createStructuredCachedSelector.test.ts
  test/typescript_tests/cache.ts
  test/typescript_tests/createCachedSelector.ts
  test/typescript_tests/createStructuredCachedSelector.ts
Due: prettier --write, npm t -- .

refactor: port cache classes to ts
  .babelrc.js
  package-lock.json
  package.json
  rollup.config.js
  src/cache/FifoMapCache.js
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.js
  src/cache/FifoObjectCache.ts
  src/cache/FlatMapCache.js
  src/cache/FlatMapCache.ts
  src/cache/FlatObjectCache.js
  src/cache/FlatObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  src/cache/util/isStringOrNumber.ts
  src/cache/util/validateCacheSize.js
  src/cache/util/validateCacheSize.ts
  src/createCachedSelector.js
  src/index.js
  src/types.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test/cache/FifoMapCache.test.ts
  test/cache/FifoObjectCache.test.ts
  test/cache/LruMapCache.test.ts
  test/cache/LruObjectCache.test.ts
  tsconfig.json
Due: prettier --write, npm t -- .

refactor: port reselectWrapper to ts
  src/createCachedSelector.js
  src/createStructuredCachedSelector.js
  src/reselectWrapper.ts
Due: prettier --write, npm t -- .

refactor: use named exports
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/FlatMapCache.ts
  src/cache/FlatObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  src/createCachedSelector.js
  src/createStructuredCachedSelector.js
  src/index.js
Due: prettier --write, npm t -- .

chore: disable npm script execution
  .github/dependabot.yml
  .github/workflows/ci.yml
  .npmrc
Due: none

chore: disable npm script execution (#412)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .npmrc
Due: none

remove: undesired changeset
  .changeset/eleven-worms-return.md
Due: prettier --write

remove: undesired changeset (#413)
  .changeset/eleven-worms-return.md
Due: prettier --write

refactor: migrate library source to TypeScript with reselect-style typing
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/FlatMapCache.js
  src/cache/FlatMapCache.ts
  src/cache/FlatObjectCache.js
  src/cache/FlatObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  src/cache/types.ts
  src/cache/util/isStringOrNumber.ts
  src/cache/util/validateCacheSize.ts
  src/createCachedSelector.js
  src/createCachedSelector.ts
  src/createStructuredCachedSelector.js
  src/createStructuredCachedSelector.ts
  src/index.d.ts
  src/index.ts
  src/reselectWrapper.ts
  src/types.ts
Due: prettier --write, npm t -- .

build: replace rollup+babel with tsdown bundler
  package-lock.json
  package.json
  rollup.config.js
  tsdown.config.ts
Due: prettier --write, npm t -- .

test(bundles): adjust UMD snapshot test for tsdown output layout
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
Due: prettier --write, npm t -- .
