Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

fix: drop any[] tail from structured selector params assertion
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

fix(cache): restore friendly no-arg error on sized caches (C2)
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
Due: prettier --write, npm t -- .

test(createStructuredCachedSelector): split parametric use cases into describe blocks
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

chore: remove unneded types exports
  src/index.ts
Due: prettier --write, npm t -- .

docs(changeset): unslop strict selector typings writeup
  .changeset/strict-selector-typings.md
Due: prettier --write

chore: clean dist with rimraf
  package-lock.json
  package.json
Due: none

docs(changeset): document UMD rename, runtime changes, and optional keySelectorCreator
  .changeset/strict-selector-typings.md
  README.md
Due: prettier --write

fix(build): keep published bundles parsable by webpack 4
  .changeset/webpack-4-bundles.md
  package.json
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
  test-bundles/legacy-syntax.test.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

refactor: drop the internal reselectWrapper module from the published bundles
  src/createCachedSelector.ts
  src/createStructuredCachedSelector.ts
  src/reselectWrapper.ts
  test/test-utils/trackSelectorCreator.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

test(bundles): snapshot the ESM artifacts and clarify the config helper name
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
  test-bundles/cjs.vitest.config.mts
  test-bundles/createBundleVitestConfig.mts
  test-bundles/es.vitest.config.mts
  test-bundles/legacy-esm.vitest.config.mts
Due: prettier --write, npm t -- .

test(bundles): make bundle runs actually load dist instead of src
  package.json
  test-bundles/cjs.vitest.config.mts
  test-bundles/createBundleConfig.mts
  test-bundles/es.vitest.config.mts
  test-bundles/legacy-esm.vitest.config.mts
  test-bundles/umd.vitest.config.mts
  test/createCachedSelector.test.ts
  test/createCachedSelector.use-cases.test.ts
  test/test-utils/trackSelectorCreator.ts
Due: prettier --write, npm t -- .

docs(changeset): tighten wording and cut AI-tell phrasing
  .changeset/cached-selector-with-types.md
  .changeset/strict-selector-typings.md
Due: prettier --write

fix(build): stop downlevelling the CJS bundle, matching reselect
  test-bundles/legacy-syntax.test.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

fix(build): scope the webpack-4 target to the bundles old bundlers read
  .changeset/strict-selector-typings.md
  .changeset/webpack-4-bundles.md
  test-bundles/legacy-syntax.test.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

ci(dependabot): replace the dead jest group with vitest
  .github/dependabot.yml
Due: none

refactor(build): drop the UMD bundle to match reselect
  .changeset/strict-selector-typings.md
  package.json
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
  test-bundles/legacy-syntax.test.ts
  test-bundles/umd-runtime.test.ts
  test-bundles/umd.vitest.config.mts
  tsdown.config.ts
Due: prettier --write, npm t -- .

docs: stop implying the options copy fixed a pre-existing mutation bug
  src/createCachedSelector.ts
Due: prettier --write, npm t -- .

Path conditions:
  prettier --write: (any of: **/*.{js,ts}) or (any of: **/*.md)
  npm t -- .: any of: **/*.{js,ts}
