Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

chore: small typo fixes in main README
  README.md
Due: prettier --write

chore: typo fixes on 3-cache-api-calls.md
  examples/3-cache-api-calls.md
Due: prettier --write

chore: fix typos in 4-programmatic-keyselector...
  examples/4-programmatic-keyselector-composition.md
Due: prettier --write

chore: remove identical extra sentance
  README.md
Due: prettier --write

chore: additional typo fixes in main README
  README.md
Due: prettier --write

Update Update babel packages to ^7.7.7
  package-lock.json
  package.json
Due: none

Update dependency all-contributors-cli to ^6.11.2
  package-lock.json
  package.json
Due: none

Update dependency prettier to ^1.19.1
  package-lock.json
  package.json
Due: none

Update dependency typescript to ^3.7.4
  package-lock.json
  package.json
Due: none

Typo Fixes, Update Relative Links (#108)
  README.md
  examples/1-join-selectors.md
  examples/2-avoid-selector-factories.md
  examples/3-cache-api-calls.md
  examples/4-programmatic-keyselector-composition.md
  src/cache/README.md
Due: prettier --write

Update contributors
  .all-contributorsrc
  README.md
Due: prettier --write

Update Update rollup packages
  jest/__snapshots__/bundles-snapshot.test.js.snap
  package-lock.json
  package.json
Due: none

Update dependency all-contributors-cli to ^6.13.0
  package-lock.json
  package.json
Due: none

Update dependency rimraf to ^3.0.1
  package-lock.json
  package.json
Due: none

Update dependency typescript to ^3.7.5
  package-lock.json
  package.json
Due: none

Update Update jest packages to v25
  package-lock.json
  package.json
Due: none

fix programmatic keySelector example
  examples/4-programmatic-keyselector-composition.md
Due: prettier --write

Add selectorator docs
  README.md
  examples/5-selectorator.md
Due: prettier --write

Update dependency all-contributors-cli to ^6.14.2
  package-lock.json
  package.json
Due: none

Update dependency rollup-plugin-babel to ^4.4.0
  package-lock.json
  package.json
Due: none

Update Update babel packages to ^7.9.6
  jest/__snapshots__/bundles-snapshot.test.js.snap
  package-lock.json
  package.json
Due: none

Test TS definitions in strict mode
  package.json
  typescript_test/createCachedSelector.ts
  typescript_test/createStructuredCachedSelector.ts
  typescript_test/tsconfig.json
Due: prettier --write, npm t -- .

Add support for createStructuredCachedSelector types in strict mode
  src/index.d.ts
  typescript_test/createStructuredCachedSelector.ts
Due: prettier --write, npm t -- .

Clean up createStructuredCachedSelector typing tests, explicitly describe supported cases
  typescript_test/createStructuredCachedSelector.ts
Due: prettier --write, npm t -- .

Remove TS support for selectorCreator as second argument
  jest/__snapshots__/bundles-snapshot.test.js.snap
  src/__tests__/createCachedSelector.spec.js
  src/createCachedSelector.js
  src/index.d.ts
  typescript_test/createCachedSelector.ts
Due: prettier --write, npm t -- .

Path conditions:
  prettier --write: (any of: **/*.{js,ts}) or (any of: **/*.md)
  npm t -- .: any of: **/*.{js,ts}
