Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

Add type generation before run tests
  package.json
Due: none

Add contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

Update prettier
  package-lock.json
  package.json
Due: none

dependencies added in typing, supported heterogeneous selectors and any number of uniform selectors
  package-lock.json
  package.json
  src/index.d.ts
  typescript_test/test.ts
Due: prettier --write, npm t -- .

Reorder typings declaration file
  src/index.d.ts
Due: prettier --write, npm t -- .

Update docs
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

Rename resolver as keySelector
  CHANGELOG.md
  README.md
  src/__tests__/index.spec.js
  src/index.d.ts
  src/index.js
Due: prettier --write, npm t -- .

Update contributors
  .all-contributorsrc
  README.md
Due: prettier --write

Add NPM version badge
  README.md
Due: prettier --write

3.0.0
  package-lock.json
  package.json
Due: none

Add Redux-Views into the list of alternatives
  README.md
Due: prettier --write

Add "about re-reselect" section to docs
  README.md
Due: prettier --write

Expose keySelector
  README.md
  src/__tests__/index.spec.js
  src/index.d.ts
  src/index.js
  typescript_test/test.ts
Due: prettier --write, npm t -- .

Support automatic key selector composition
  src/__tests__/index.spec.js
  src/index.d.ts
  src/index.js
  typescript_test/test.ts
Due: prettier --write, npm t -- .

Fix count of createCachedSelector overloads
  src/index.gen.ts
Due: prettier --write, npm t -- .

Update docs
  .all-contributorsrc
  CHANGELOG.md
  README.md
Due: prettier --write

Update some obsolete dev dependencies
  README.md
  package-lock.json
  package.json
Due: prettier --write

3.1.0
  package-lock.json
  package.json
Due: none

Extract key composition to createKeyComposedSelector function
  src/__tests__/index.spec.js
  src/index.d.ts
  src/index.js
Due: prettier --write, npm t -- .

Fix code coverage cases
  src/__tests__/index.spec.js
Due: prettier --write, npm t -- .

Remove redundant test
  src/__tests__/index.spec.js
Due: prettier --write, npm t -- .

Dedupe lock file
  package-lock.json
Due: none

Add createStructuredCachedSelector
  README.md
  src/__tests__/createStructuredCachedSelector.spec.js
  src/createStructuredCachedSelector.js
  src/index.d.ts
  src/index.js
  typescript_test/createStructuredCachedSelector.ts
Due: prettier --write, npm t -- .

Update docs
  .all-contributorsrc
  CHANGELOG.md
  README.md
  src/cache/README.md
Due: prettier --write

Extract createCachedSelector logic from index.js
  src/__tests__/createCachedSelector.spec.js
  src/__tests__/createStructuredCachedSelector.spec.js
  src/createCachedSelector.js
  src/createStructuredCachedSelector.js
  src/index.js
Due: prettier --write, npm t -- .

Update dev dependencies
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: (any of: **/*.{js,ts}) or (any of: **/*.md)
  npm t -- .: any of: **/*.{js,ts}
