Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

.lintstagedrc:

{
  "**/*.{js,ts}": ["prettier --write", "npm t -- .", "git add"],
  "**/*.md": ["prettier --write", "git add"],
}

test(bundles): snapshot the ESM artifacts and clarify the config helper name
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
  test-bundles/cjs.vitest.config.mts
  test-bundles/createBundleVitestConfig.mts
  test-bundles/es.vitest.config.mts
  test-bundles/legacy-esm.vitest.config.mts
Due: prettier --write, npm t -- .

refactor(build): drop the UMD bundle to match reselect
  .changeset/strict-selector-typings.md
  package.json
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
  test-bundles/legacy-syntax.test.ts
  test-bundles/umd-runtime.test.ts
  test-bundles/umd.vitest.config.mts
  tsdown.config.ts
Due: prettier --write, npm t -- .

docs(changeset): tighten wording and cut AI-tell phrasing
  .changeset/cached-selector-with-types.md
  .changeset/strict-selector-typings.md
Due: prettier --write

refactor: migrate library source to TypeScript with reselect-style typing
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/FlatMapCache.js
  src/cache/FlatMapCache.ts
  src/cache/FlatObjectCache.js
  src/cache/FlatObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  src/cache/types.ts
  src/cache/util/isStringOrNumber.ts
  src/cache/util/validateCacheSize.ts
  src/createCachedSelector.js
  src/createCachedSelector.ts
  src/createStructuredCachedSelector.js
  src/createStructuredCachedSelector.ts
  src/index.d.ts
  src/index.ts
  src/reselectWrapper.ts
  src/types.ts
Due: prettier --write, npm t -- .

test: add TODO marker on 10-selector use-cases block for v5 inference
  test/createCachedSelector.use-cases.test.ts
Due: prettier --write, npm t -- .

test(bundles): adjust UMD snapshot test for tsdown output layout
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
Due: prettier --write, npm t -- .

build: replace rollup+babel with tsdown bundler
  package-lock.json
  package.json
  rollup.config.js
  tsdown.config.ts
Due: prettier --write, npm t -- .

feat: add createCachedSelector.withTypes method
  .changeset/cached-selector-with-types.md
  src/createCachedSelector.ts
  src/types.ts
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

test: temporarily disable createStructuredCachedSelector tests
  test/createStructuredCachedSelector.disabled
Due: none

fix: tsdown config
  tsdown.config.ts
Due: prettier --write, npm t -- .

refactor: cache classes
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  test/cache/FifoMapCache.test.ts
  test/cache/FifoObjectCache.test.ts
  test/cache/LruMapCache.test.ts
  test/cache/LruObjectCache.test.ts
Due: prettier --write, npm t -- .

chore: update vitest to v4
  package-lock.json
Due: none

refactor: tighten createCachedSelector typing
  src/createCachedSelector.ts
  src/index.ts
  src/types.ts
Due: prettier --write, npm t -- .

test: test updates round 2
  test/createCachedSelector.use-cases.test.ts
Due: prettier --write, npm t -- .

test: test updates round 1
  .changeset/strict-selector-typings.md
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

test(bundles): update UMD snapshot for tsdown output
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
Due: none

chore(deps): update dev dependencies and bump tsdown for TypeScript 7 support
  package-lock.json
  package.json
Due: none

style: reformat with prettier 3.9
  src/cache/README.md
  src/cache/util/validateCacheSize.ts
  src/createCachedSelector.ts
Due: prettier --write, npm t -- .

test: fix @ts-expect-error placement for TypeScript 7
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

test: fix coverage glob to include nested src files
  vitest.config.mts
Due: none

docs: document withTypes and fix cache links after TypeScript migration
  README.md
  src/cache/README.md
Due: prettier --write

chore: remove obsolete babel config and dependabot groups
  .babelrc.js
  .github/dependabot.yml
Due: prettier --write, npm t -- .

fix: infer parametric props in createStructuredCachedSelector
  src/createStructuredCachedSelector.ts
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

test: cover optional structured selector second argument
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

chore(deps): sync package-lock.json with package.json
  package-lock.json
Due: none

refactor: replace @ts-expect-error with scoped casts in createCachedSelector
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
Due: prettier --write, npm t -- .

refactor: extract type utils into typeUtils module with type tests
  src/createStructuredCachedSelector.ts
  src/typeUtils.ts
  test/typeUtils.test.ts
Due: prettier --write, npm t -- .

fix(tsconfig): type check the whole repo, add build-scoped config
  tsconfig.build.json
  tsconfig.json
  tsdown.config.ts
Due: prettier --write, npm t -- .

chore: switch dev env to node v24
  .github/workflows/release.yml
  .nvmrc
Due: none

fix: clone caller options object to prevent mutation and double-wrapped cache keys (B2)
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

fix: umd bundle
  package.json
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/umd-runtime.test.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

refactor: convert internal modules from default to named exports
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/FlatMapCache.ts
  src/cache/FlatObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  src/cache/util/isStringOrNumber.ts
  src/cache/util/validateCacheSize.ts
  src/createCachedSelector.ts
  src/createStructuredCachedSelector.ts
  src/index.ts
Due: prettier --write, npm t -- .

docs(changeset): document native-TS rewrite and removed type exports
  .changeset/strict-selector-typings.md
Due: prettier --write

test(withTypes): cover param inference, narrowing chain, and docs
  README.md
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

fix: preserve exact keySelector arity without non-null assertion or cast (D1)
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

fix: make OutputCachedSelector type sound (R2)
  src/types.ts
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

build: ship exports map with dual ESM/CJS entry points
  package.json
  tsdown.config.ts
Due: prettier --write, npm t -- .

build: clean dist before build to avoid shipping stale artifacts (D2)
  package.json
Due: none

test(bundles): snapshot generated type declarations
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
Due: prettier --write, npm t -- .

docs(changeset): correct runtime claims and document packaging changes
  .changeset/strict-selector-typings.md
Due: prettier --write
