Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm t -- .

.lintstagedrc:

{
  "**/*.{js,ts}": ["prettier --write", "npm t -- .", "git add"],
  "**/*.md": ["prettier --write", "git add"],
}

fix: type error when createStructuredCachedSelector selector has optional argument (#477)
  .changeset/fix-structured-optional-argument.md
  src/index.d.ts
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

ci: change release npm installation to version 11
  .github/workflows/release.yml
Due: none

ci: change release npm installation to version 11 (#491)
  .github/workflows/release.yml
Due: none

chore: update version for release (#492)
  .changeset/fix-structured-optional-argument.md
  CHANGELOG.md
  package.json
Due: prettier --write

chore: switch dev env to node v24
  .github/workflows/release.yml
  .nvmrc
Due: none

fix: drop any[] tail from structured selector params assertion
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

test(bench): add a per-call cost benchmark for createCachedSelector
  bench/cases.mjs
  bench/run.mjs
  bench/workload.mjs
  package.json
Due: none

perf(createCachedSelector): default instances to a size-1 argument cache
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

fix(createCachedSelector): call isValidCacheKey as a method so caches can read this
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

perf(createCachedSelector): dispatch common arities directly instead of via rest and spread
  bench/run.mjs
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

fix: umd bundle
  package.json
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/umd-runtime.test.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

fix: make OutputCachedSelector type sound (R2)
  src/types.ts
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

refactor: replace @ts-expect-error with scoped casts in createCachedSelector
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
Due: prettier --write, npm t -- .

fix(tsconfig): type check the whole repo, add build-scoped config
  tsconfig.build.json
  tsconfig.json
  tsdown.config.ts
Due: prettier --write, npm t -- .

fix: clone caller options object to prevent mutation and double-wrapped cache keys (B2)
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

docs(changeset): document native-TS rewrite and removed type exports
  .changeset/strict-selector-typings.md
Due: prettier --write

fix(cache): restore friendly no-arg error on sized caches (C2)
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
Due: prettier --write, npm t -- .

build: clean dist before build to avoid shipping stale artifacts (D2)
  package.json
Due: none

fix: preserve exact keySelector arity without non-null assertion or cast (D1)
  src/createCachedSelector.ts
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

chore: remove unneded types exports
  src/index.ts
Due: prettier --write, npm t -- .

refactor: convert internal modules from default to named exports
  src/cache/FifoMapCache.ts
  src/cache/FifoObjectCache.ts
  src/cache/FlatMapCache.ts
  src/cache/FlatObjectCache.ts
  src/cache/LruMapCache.ts
  src/cache/LruObjectCache.ts
  src/cache/util/isStringOrNumber.ts
  src/cache/util/validateCacheSize.ts
  src/createCachedSelector.ts
  src/createStructuredCachedSelector.ts
  src/index.ts
Due: prettier --write, npm t -- .

refactor: extract type utils into typeUtils module with type tests
  src/createStructuredCachedSelector.ts
  src/typeUtils.ts
  test/typeUtils.test.ts
Due: prettier --write, npm t -- .

test(withTypes): cover param inference, narrowing chain, and docs
  README.md
  test/createCachedSelector.test.ts
Due: prettier --write, npm t -- .

test(createStructuredCachedSelector): split parametric use cases into describe blocks
  test/createStructuredCachedSelector.test.ts
Due: prettier --write, npm t -- .

build: ship exports map with dual ESM/CJS entry points
  package.json
  tsdown.config.ts
Due: prettier --write, npm t -- .

test(bundles): snapshot generated type declarations
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
Due: prettier --write, npm t -- .

docs(changeset): correct runtime claims and document packaging changes
  .changeset/strict-selector-typings.md
Due: prettier --write

chore: clean dist with rimraf
  package-lock.json
  package.json
Due: none

test(bundles): make bundle runs actually load dist instead of src
  package.json
  test-bundles/cjs.vitest.config.mts
  test-bundles/createBundleConfig.mts
  test-bundles/es.vitest.config.mts
  test-bundles/legacy-esm.vitest.config.mts
  test-bundles/umd.vitest.config.mts
  test/createCachedSelector.test.ts
  test/createCachedSelector.use-cases.test.ts
  test/test-utils/trackSelectorCreator.ts
Due: prettier --write, npm t -- .

fix(build): keep published bundles parsable by webpack 4
  .changeset/webpack-4-bundles.md
  package.json
  test-bundles/__snapshots__/bundles-snapshot.test.ts.snap
  test-bundles/bundles-snapshot.test.ts
  test-bundles/legacy-syntax.test.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

docs(changeset): document UMD rename, runtime changes, and optional keySelectorCreator
  .changeset/strict-selector-typings.md
  README.md
Due: prettier --write

ci: update npm installation to v11
  .github/workflows/release.yml
Due: none

fix(build): stop downlevelling the CJS bundle, matching reselect
  test-bundles/legacy-syntax.test.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

ci(dependabot): replace the dead jest group with vitest
  .github/dependabot.yml
Due: none

refactor: drop the internal reselectWrapper module from the published bundles
  src/createCachedSelector.ts
  src/createStructuredCachedSelector.ts
  src/reselectWrapper.ts
  test/test-utils/trackSelectorCreator.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

fix(build): scope the webpack-4 target to the bundles old bundlers read
  .changeset/strict-selector-typings.md
  .changeset/webpack-4-bundles.md
  test-bundles/legacy-syntax.test.ts
  tsdown.config.ts
Due: prettier --write, npm t -- .

docs: stop implying the options copy fixed a pre-existing mutation bug
  src/createCachedSelector.ts
Due: prettier --write, npm t -- .
